<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Pharma rede</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="estilo.css">


  <style type="text/css">
    
    body {
    overflow: hidden!important;
  } 
  /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
  .row.content {height: 1500px}
  
  /* Set gray background color and 100% height */
  .sidenav {
    background-color: #f1f1f1;
    height: 100%;
  }
  
  /* On small screens, set height to 'auto' for sidenav and grid */
  @media screen and (max-width: 767px) {
    .sidenav {
      height: auto;
      padding: 15px;
    }
    .row.content {height: auto;} 
  }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #08298A;
  color: white;
  text-align: center;
}
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Sistema Pharma Rede</h4><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="pesquisar...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <ul class="nav nav-pills nav-stacked">
        
        <li><a href="cadastroFornecedor.html">Cadastro de Fornecedor</a></li>
        <li><a href="#section3">Cadastro de Produtos</a></li>
        <li><a href="#section3">Consultas</a></li>
      </ul><br>
      
    </div>

    <div class="col-sm-9">
      <h4><small>CADASTRO DE PRODUTOS</small></h4>
      <hr>
      <h5><span class="label label-danger">pharma</span> <span class="label label-primary">rede</span></h5><br>
      <p>Por favor preencha os campos obrigatórios abaixo para fazer o cadastro de produtos.</p>
      <br><br>
      


<form class="form-inline" action="/action_page.php">
  <div class="form-group">
    <label for="name">* Nome:</label>
    <input type="text" class="form-control" size="24" id="name">
  </div>
  <div class="form-group">
    <label for="cod">* Código de Barras:</label>
    <input type="text" class="form-control" size="24" id="cod">
  </div>
  <div class="form-group">
    <label for="prin">* Principio Ativo:</label>
    <input type="text" class="form-control" size="24" id="prin">
  </div>
  <br> <br>
  <div class="form-group">
    <label for="lab">* Laboratório:</label>
    <input type="text" class="form-control" size="18" id="lab">
  </div> 
  <div class="form-group">
    <label for="clas">* Classe Terapêutica:</label>
    <input type="text" class="form-control" size="23" id="clas">
  </div>
  <div class="form-group">
    <label for="reg">* Registro do MS:</label>
    <input type="text" class="form-control" size="24" id="reg">
  </div>
  <br><br>
  <div class="form-group">
    <label for="sel1">* Controle Especial:</label>
    <select class="form-control"  id="sel1">
      <option>Sem controle</option>
      <option>Portaria</option>
      <option>Antimicrobiano</option>
    </select>
  </div>
  <div class="form-group">
    <label for="pre">* Preço:</label>
    <input type="text" class="form-control" size="20" id="pre">
  </div> 
  <div class="form-group">
    <label for="des">* Desconto:</label>
    <input type="text" class="form-control" size="20" id="des">
  </div> 
  <div class="form-group">
    <label for="sel1">Tipo:</label>
    <select class="form-control" id="sel1">
      <option>Genérico</option>
      <option>Similar</option>
      <option>de Referência</option>
    </select>
  </div>
  <br><br>
<div class="form-group">
  <label for="reg">* Receita Obrigatória:</label> 
  <label class="radio-inline"><input type="radio" name="optradio" checked>Sim</label>
  <label class="radio-inline"><input type="radio" name="optradio">Não</label>    
</div>  
<div class="form-group">
  <label for="pre">* Lote:</label> 
  <input type="date" name="bday" max="2017-12-31">
  <input type="date" name="bday" min="2022-01-02">
</div>
    </div>
  </div>
</div>
 <input type="submit" class="btn btn-primary" value="Cadastrar"/>
 </form>
<div class="footer">
  <p>Todos os direitos reservados - 2018 &copy;</p>
</div>

</body>
</html>
