<!DOCTYPE html>
<html lang="en">
<head>
  <title>Pharma rede</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  
  	body {
  	overflow: hidden!important;
	} 
    /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;} 
    }
  </style>

  <style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #08298A;
    color: white;
    text-align: center;
}
</style>
</head>
<body>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h4>Sistema Pharma Rede</h4><br>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="pesquisar...">
        <span class="input-group-btn">
          <button class="btn btn-default" type="button">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </span>
      </div>
      <ul class="nav nav-pills nav-stacked">
        
        <li><a href="cadastroFornecedor.html">Cadastro de Fornecedor</a></li>
        <li><a href="#section3">Cadastro de Produtos</a></li>
        <li><a href="#section3">Consultas</a></li>
      </ul><br>
      
    </div>

    <div class="col-sm-9">
      <h4><small>CADASTRO DE FORNECEDOR</small></h4>
      <hr>
      <h5><span class="label label-danger">pharma</span> <span class="label label-primary">rede</span></h5><br>
      <p>Por favor preencha os campos obrigatórios abaixo para fazer o cadastro do fornecedor.</p>
      <br><br>
      


<form class="form-inline" action="/fornecedor/salvar" method="post">
  <div class="form-group">
    <label for="email">* Nome:</label>
    <input type="text" class="form-control" id="nome_fornecedor" name="nome_fornecedor" value="<%=fornecedor.nome_fornecedor%>">
  </div>
  <div class="form-group">
    <label for="pwd">* Endereço:</label>
    <input type="text" class="form-control" id="endereco_fornecedor" name="endereco_fornecedor" value="<%=fornecedor.endereco_fornecedor%>">
  </div>
  <div class="form-group">
    <label for="pwd">* CNPJ:</label>
    <input type="text" class="form-control" id="cpnj_fornecedor" name="cnpj_fornecedor" value="<%=fornecedor.cnpj_fornecedor%>" >
  </div>
  <input type="submit" class="btn btn-primary" value="Cadastrar"/>
</form>
<div class="row content">
     <% if(validacao) { %>
        <ul>
          <% for(var i=0; i < validacao.length; i++){ %>
          <li>
            <%=validacao[i].msg; %> 
          </li>
          <% } %>
        </ul> 
      <% } %>
</div>
    </div>
  </div>
</div>

<div class="footer">
  <p>Todos os direitos reservados - 2018 &copy;</p>
</div>


<br><br><br><br>



</body>
</html>
