<!DOCTYPE html>
    <html lang="pt-br">
        <head>
            <meta charset="utf-8"/>
            <title>Lista de Fornecedores</title>
        </head>
    <body>

<h1>Lista Fornecedores</h1> 
      <table>
        <tr>
        <td>ID</td>
        <td>Nome</td>
        <td>Endereco</td>
        <td>CNPJ</td>
        </tr>
        <%for(var i=0; i < fornecedores.length; i++){ %>
        <tr>
        <td><%=fornecedores[i].id_fornecedor%></td>
        <td><%=fornecedores[i].nome_fornecedor%></td>
        <td><%=fornecedores[i].endereco_fornecedor%></td>
        <td><%=fornecedores[i].cnpj_fornecedor%></td>
        </tr>
        <% } %>
      </table>

        </body>
</html>